<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="website.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="main">
        <div id="start-page">
            <h1>Welcome to this website!</h1>
            <div>
                <button @click="mainShow = !mainShow, friendsListShow = false">Tryck
                    här för att visa pofiler!</button>
                <button @click="friendsListShow = !friendsListShow, friendList()">Visa vänner</button>
            </div>
        </div>

        <transition-group name="slide-list">
            <div v-if="friendsListShow" id="friends-list">
                <div class="friends" v-for="user of friendsList" :key="user.id">
                    <img :src="user.image">
                    <p>{{ user.company.title}}</p>
                    <p>{{ user.firstName }} {{ user.lastName }}</p>
                    <button @click="removeFriend(user.id)">Remove friend</button>
                </div>
            </div>
        </transition-group>

        <!-- </transition> -->
        <transition-group name="slide-fade">
            <div v-if="mainShow" id="profiles">
                <img id="close-img" @click="mainShow = !mainShow" src="/images/close.png">
                <div v-for="user of users" :key="user.id" class="profile">
                    <transition name="slide-fade">
                        <!-- Gör det här som en template så vi kan använda om den igen! -->
                        <div v-if="popupId == user.id" id="popup">
                            <img @click="showPopup(null)" src="/images/close.png">
                            <h2>Accomadation</h2>
                            <ul v-for="addres of user.address">
                                <li>{{addres}}</li>
                            </ul>
                        </div>
                        <!-- Hela denna div -->
                    </transition>

                    <div id="upper-part">
                        <img :src="user.image">
                        <ul>
                            <li>{{user.company.title}}</li>
                            <li>{{ user.firstName }} {{ user.lastName }} <img @mouseover="showHover(user.id)"
                                    src="/images/free-arrow-down-icon-3101-thumb.png">
                            </li>
                            <transition name="slide-fade">
                                <p v-if="hover == user.id" @mouseleave="showHover(null)">{{user.email}}</p>
                            </transition>
                            <li>{{ user.age }} years old</li>
                            <li>{{ user.gender }}</li>
                            <li>{{user.height}}</li>
                        </ul>
                        <!-- <p>{{ user.firstName }} {{ user.lastName }}</p> -->
                    </div>
                    <div id="lower-part">
                        <button @click="showPopup(user.id)">More info</button>
                        <button @click="addFriendToList(user.id)">Add friend</button>
                    </div>

                </div>
        </transition-group>
    </div>

    </div>

    <script src="website.js"></script>
</body>

</html>