:root {
    --main-color: #f5f5f5;
    --round-profile: 50%;
    --smooth-edges: 10px;
    --close-button: 20px;
    --shadow-box: 5px 0 10px gray;
    --border-img: 1px solid black;
}

body {
    background-image: url(/images/best-linkedin-background-9z7stoah6hwp3j7y.jpg);
    background-size: cover;
}

#start-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 225px;
    align-items: center;
    position: relative;
    z-index: 1;
}

#start-page h1 {
    font-size: 75px;
    font-family: system-ui;
}

#start-page div {
    display: flex;
    flex-direction: row;
    gap: 200px;
}


#start-page button {
    padding: 15px;
    border-radius: var(--smooth-edges);
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all 0.9s ease-out;
    box-shadow: var(--shadow-box);
}

#start-page button:hover {
    transition: all 0.9s ease;
    background-color: rgb(239, 200, 109);
}

#profiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    padding: 40px;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: white;
    border-radius: 10px;
}

#close-img {
    height: var(--close-button);
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
}

.profile {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: var(--smooth-edges);
    padding: 20px;
    box-shadow: 5px 0 10px gray;
    position: relative;
}

#upper-part {
    display: flex;
}

#upper-part img {
    object-fit: cover;
    border: var(--border-img);
    border-radius: var(--round-profile);
    height: 125px;
    padding: 10px;
}

#upper-part ul li img {
    border: none;
    height: 15px;
    padding: 0;
}

#upper-part ul p {
    z-index: 10;
    background-color: white;
    border-radius: var(--smooth-edges);
    box-shadow: var(--shadow-box);
    padding: 5px;
    position: absolute;
    top: 55px;
}


#lower-part {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}

#lower-part button {
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: var(--smooth-edges);
    box-shadow: var(--shadow-box);
}

#friends-list {
    background-color: white;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
    overflow-x: scroll;
}

.friends {
    border: var(--border-img);
    padding: 10px;
    border-radius: var(--smooth-edges);
    box-shadow: var(--shadow-box);
}

#friends-list img {
    border-radius: var(--round-profile);
    border: 1px solid black;
}

#friends-list ul {}

#friends-list button {
    height: 30px;
    border: none;
    box-shadow: var(--shadow-box);
    cursor: pointer;
    border-radius: var(--smooth-edges);
}

#popup {
    z-index: 5;
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    padding: 25px;
    translate: -50% -50%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 5px 0 10px gray;
}

#popup img {
    position: absolute;
    right: 25px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#popup ul {
    padding: 0;
}

#popup ul li {
    padding: 10px;
    background-color: rgb(239, 235, 235);
    border-radius: var(--smooth-edges);
}

.slide-fade-enter-active {
    transition: all 0.9s ease;
}

.slide-fade-leave-active {
    transition: all 0.9s ease-out
}

.slide-fade-enter-from {
    opacity: 0;
    transform: translateY(300px);
}

.slide-fade-enter-to {
    opacity: 1;
    transform: translateY(0);
}

.slide-fade-leave-from {
    opacity: 1;
    transform: translateY(0);
}

.slide-fade-leave-to {
    opacity: 0;
    transform: translateY(300px);
}



/* Friend list  */

.slide-list-enter-active {
    transition: all 0.9s ease;
}

.slide-list-leave-active {
    transition: all 0.9s ease-out;
}

.slide-list-enter-from {
    opacity: 0;
    transform: translateX(300px);
}

.slide-list-enter-to {
    opacity: 1;
    transform: translateX(0);
}

.slide-list-leave-from {
    opacity: 1;
    transform: translateX(0);
}

.slide-list-leave-to {
    opacity: 0;
    transform: translateX(300px);
}