<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="website.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="main">
        <div id="start-page">
            <h1>Välkommen till denna sida!</h1>
            <button @click="visas = !visas, startVisa = !startVisa">Tryck här för att visa pofiler!</button>
            <button @click="listVisa = !listVisa, friendList()">Visa vänner</button>
        </div>

        <transition-group name="slide-list">
            <div v-if="listVisa" id="friends-list">
                <div class="friends" v-for="user of friendsList" :key="user.id">
                    <img :src="user.image">
                    <ul>
                        <li>{{ user.company.title}}</li>
                        <li>{{ user.firstName }} {{ user.lastName }}</li>
                    </ul>
                    <button @click="removeFriend(user.id)">Remove friend</button>
                </div>
            </div>
        </transition-group>

        <!-- </transition> -->
        <transition-group name="slide-fade">
            <div v-if="visas" id="profiles">
                <img id="close-img" @click="visas = !visas" src="close.png">
                <div v-if="visas" v-for="user of users" :key="user.id" class="profile">
                    <transition name="slide-fade">
                        <!-- Gör det här som en template så vi kan använda om den igen! -->
                        <div v-if="popupId == user.id" id="popup">
                            <img @click="showPopup(null)" src="close.png">
                            <p>Accomadation</p>
                            <ul v-for="addres of user.address">
                                <li>{{addres}}</li>
                            </ul>
                            <p>{{user.firstName}}</p>
                        </div>
                        <!-- Hela denna div -->
                    </transition>

                    <div id="upper-part">
                        <img :src="user.image">
                        <ul>
                            <li>{{user.company.title}}</li>
                            <li>{{ user.firstName }} {{ user.lastName }} <img @mouseover="hover = true"
                                    src="free-arrow-down-icon-3101-thumb.png">
                            </li>
                            <p v-if="hover" @mouseleave="hover = false">{{user.email}}</p>
                            <li>{{ user.age }} years old</li>
                            <li>{{ user.gender }}</li>
                            <li>{{user.height}}</li>
                            <li></li>
                        </ul>
                        <!-- <p>{{ user.firstName }} {{ user.lastName }}</p> -->
                    </div>
                    <div id="lower-part">
                        <button @click="showPopup(user.id)">Visa intressant</button>
                        <button @click="addFriendToList(user.id)">Add friend</button>
                    </div>

                </div>
        </transition-group>
    </div>

    </div>

    <script src="website.js"></script>
</body>

</html>