body {
    background-image: url(best-linkedin-background-9z7stoah6hwp3j7y.jpg);
    background-size: cover;
}


#start-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    position: relative;
    z-index: 1;
}

#start-page h1 {
    font-size: 75px;
}

#start-page button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(137, 141, 143);
    cursor: pointer;
}

#profiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    height: 100vh;
    padding: 40px;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: white;
    border-radius: 10px;
}

#close-img {

    height: 20px;
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
}

.profile {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 0 10px gray;
}

#upper-part {
    display: flex;
}


#upper-part img {
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
    height: 125px;
    padding: 10px;
}

#upper-part ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

#upper-part ul li img {
    border: none;
    height: 15px;
    padding: 0;
}

#upper-part ul p {
    position: absolute;
    z-index: 10;
    background-color: blue;
    padding: 5px;
}


#lower-part {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#lower-part button {
    height: 50px;
    border: none;
    cursor: pointer;

}

#friends-list {
    background-color: white;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    overflow-x: scroll;
}

#friends-list img {
    border-radius: 50%;
    border: 1px solid black;
}

#popup {
    z-index: 5;
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    padding: 25px;
    translate: -50% -50%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 5px 0 10px gray;
}

#popup img {
    position: absolute;
    right: 25px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#popup ul {
    padding: 0;
}

#popup ul li {
    padding: 10px;
    background-color: rgb(239, 235, 235);
    border-radius: 10px;
}

/* #app {} */

/* .imageCircle {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
} */


.slide-fade-enter-active {
    transition: all 0.9s ease;
}

/* Dessa två kan skrivas ihop */
.slide-fade-leave-active {
    transition: all 0.9s ease-out
}

/* När den kommer in */
.slide-fade-enter-from {
    opacity: 0;
    transform: translateY(300px);
}

.slide-fade-enter-to {
    opacity: 1;
    transform: translateY(0);
}

/* När den går ut*/
.slide-fade-leave-from {
    opacity: 1;
    transform: translateY(0);
}

.slide-fade-leave-to {
    opacity: 0;
    transform: translateY(300px);
}



/* Friend list  */

.slide-list-enter-active {
    transition: all 0.9s ease;
}

.slide-list-leave-active {
    transition: all 0.9s ease-out;
}

.slide-list-enter-from {
    opacity: 0;
    transform: translateX(300px);
}

.slide-list-enter-to {
    opacity: 1;
    transform: translateX(0);
}

/* När den går ut*/
.slide-list-leave-from {
    opacity: 1;
    transform: translateX(0);
}

.slide-list-leave-to {
    opacity: 0;
    transform: translateX(300px);
}