body {
    margin: 20px 100px;
    background-color: gainsboro;
}

#navigation {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px 0px 30px 0px;
    background-color: gainsboro;

    font-size: 20px;
}

#leftNav {
    font-weight: bolder;
}

#middleNav {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0px 20px;
}

.noLinkStyle {
    color: black;
    text-decoration: none;
}

.navHover:hover a {
    cursor: pointer;
    color: rgb(99, 99, 99);
}

#informationContainer {
    display: flex;
    flex-direction: column;
}

#informationContainer div {
    width: 1000px;
    background-color: rgb(230, 230, 230);
    text-align: left;

}

.endPointDiv {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 20px;
}

.green {
    color: rgb(38, 170, 38);
}

.blue {
    color: rgb(42, 42, 255);
}

.red {
    color: rgb(255, 38, 38);
}

.BOLD {
    font-weight: bolder;
}

.indent {
    margin-left: 20px;
}

.statusCodes {
    border-left: 1px solid gray;
    padding: 0px 20px 20px 20px;
}

.informationdiv {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 20px;
}